#root {
  margin: 0 auto;
}
/* header */
.headerContainer {
  height: 100;
  width: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
}
.headerUl {
  list-style: none;
  display: flex;
  gap: 10px;
}
.searchDiv {
  display: flex;
  gap: 10px;
}

.searchMovie {
  width: 300px;
  height: 40px;
}
.searchButton {
  background-color: rgba(70, 25, 25, 0.8);
  color: white;
}

/* sort by category */
.stickyCategory {
  overflow-x: auto;
  width: 100%;
  padding: 10;
}
.stickyCategory::-webkit-scrollbar,
.showMovieDiv::-webkit-scrollbar {
  display: none;
}
.categoryUl {
  list-style: none;
  display: flex;
  gap: 20px;
  scroll-behavior: smooth;
  padding-right: 10px;

  align-items: center;
  text-align: center;
}
.categoryUl li,
.primaryButton {
  white-space: nowrap;
  padding: 10px;
  background-color: rgba(70, 25, 25, 0.8);
  color: white;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
  margin-top: 10px;
}
.categoryUl li:hover,
.primaryButton:hover {
  color: rgb(237, 190, 190);
  transform: scale(1.1);
  cursor: pointer;
}
.categoryUl li.active {
  color: rgb(237, 190, 190);
  cursor: pointer;
}

/* herosection */
.heroSection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-animation {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-in-out forwards;
}
/* for each card */
.cardContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 300px;
  border: 1px solid green;
  position: relative;
  transition: all 1.2s ease-in-out;
}

.heroImage {
  height: auto;
  width: 300px;
}
/* Year title and price div */
.YearTitleContainer {
  padding: 0 5px 0 5px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(70, 25, 25, 0.5);
  color: whitesmoke;
  bottom: -60px;
  width: 290px;
}
/* details div */
.detailsDiv {
  display: none;
  padding: 0 10px 0 15px;
  position: absolute;
  bottom: 0;
  background-color: rgba(70, 25, 25, 0.8);
  left: 0;
}

.detailsDiv.visible {
  display: flex;
  flex-direction: column;
}
.ratingsContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 3px;
  margin-bottom: 4px;
}
/* for ratings */
.ratingsContainer i {
  margin-top: -10px;
  color: gray;
  transition: color 0.1s, transform 0.2s;
}
.ratingsContainer i:hover {
  color: yellow;
  transform: scale(1.2) rotate(5deg);
}
.ratingsContainer i:hover,
.ratingsContainer i:hover ~ i {
  color: yellow;
  transform: scale(1.2) rotate(5deg);
}

.ratingsContainer i[data-clicked] {
  color: yellow;
}

.ratingsContainer i[data-clicked],
.ratingsContainer i[data-clicked] ~ i {
  color: yellow;
}
/* sorting by highest rating */
.moviesByRatingSection {
  gap: 10px;
}
.showMovieDiv {
  display: flex;
  overflow-x: auto;
  width: 100%;
  gap: 10px;
}
.timingPara {
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  height: 40px;
  font-size: 32px;
  font-weight: 700;
}
.newPara2 {
  font-size: larger;
}
@media (max-width: 600px) {
  .headerUl {
    display: none;
  }
}
