.primary-button{
    background-color: #117ceb;
    color: #ffffff;
    font-size: 24px;
    padding:10px;
    border-radius: 10px;
    border-color: transparent;
    font-weight: 500;
}
.header-nav{
    display: flex;
    justify-content: space-between;
}
.logo-image{
    height:70px ;
}
.nav-ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav-ul li{
    font-size: 28px;
}
